modules = ["bash", "python-3.11"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"
packages = ["cacert", "cargo", "file", "freetype", "geckodriver", "glibcLocales", "libiconv", "libxcrypt", "libyaml", "openssl", "pkg-config", "rustc", "xcodebuild", "zlib"]

[workflows]
